<%-include('header');-%>
    <div class="box" id="heading">
      <h1><%= listType %></h1>
    </div>
    <div class="box">
      <%for(var i=0;i<newListItem.length;i++){%>
        <div class="item">
          <input type="checkbox">
          <p><%=newListItem[i]%></p>
        <%}%>
      </div>
      <form action="/" method="post">
        <input type="text" name="newListItem" placeholder="New Item" autocomplete="off" />
        <button
          type="submit"
          name="list"
          value=<%=listType%>
        >
          +
        </button>
      </form>
    </div>

